<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brandviser</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top main-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='@Url.Action("Index", "Home", new { area = "" })'>
                    <img class="main-logo" src='@Url.Content("~/Content/logo-resized.png")' />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    @{
                        if (User.IsInRole("Seller"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Index", "Seller", new { area = "Seller" }, null)</li>
                        }
                    }
                    @{
                        if (User.IsInRole("Buyer"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Index", "Buyer", new { area = "Buyer" }, null)</li>
                        }
                    }
                    @{
                        if (User.IsInRole("Designer"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Index", "Designer", new { area = "Designer" }, null)</li>
                        }
                    }
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Index", "Admin", new { area = "Admin" }, null)</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Brandviser .NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
