@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model  Brandviser.Web.Areas.Designer.Models.DesignerProfileBoxStatsViewModel
}
<div class="row seller-navbar">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Dashboard", "Index", "Designer", null, new { @class = "seller-nav-link" })</li>
        <li>
            @Ajax.ActionLink("Domains", "Domains", "Designer", null, new AjaxOptions()
       {
           HttpMethod = "Get",
           AllowCache = false,
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "seller-partial",
           LoadingElementId = "spinner"
       }, new { @class = "seller-nav-link" })
    </ul>

    <ul class="nav navbar-nav pull-right-md">
        <li>@Html.ActionLink("Profile", "Index", "Designer", null, new { @class = "seller-nav-link-orange" })</li>

    </ul>
</div>
<div class="row seller-content">
    <div class="col-md-8">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible domains-alert" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@TempData["Success"]</strong>
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible domains-alert" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@TempData["Error"]</strong>
            </div>
        }
        <div id="seller-partial">
            <div class="col-md-2">
            </div>
            <div class="col-md-2 xs-offset-2">
                <img id="spinner" src="~/Content/spin.gif"
                     style="display: none;">
            </div>
        </div>
    </div>
    <div class="col-md-4 seller-profile-stats">
        <div class="row profile-stats-row">
            <div class="col-md-8">
                <h3>@Model.FullName</h3>
                <p class="seller-block-small-text">Member since @Model.MemberSince.ToString("dd/MMM/yyyy")</p>
            </div>
            <div class="col-md-4">
                <div class="profile-namelogo">@Model.Initials</div>
            </div>
        </div>

        <div class="row profile-stats-row">
            <div class="col-md-8">
                <h3 class="profile-h3">Credits</h3>
                <p class="seller-block-small-text">Balance: $@Model.Balance</p>
            </div>
            <div class="col-md-4">
                <div class="profile-value-block-money">@Model.BalanceInKUsd</div>
            </div>
        </div>

        <div class="row profile-stats-row last-profile-row">
            <div class="col-md-8">
                <h3 class="profile-h3">Domains</h3>
                <p class="seller-block-small-text">Pending Design:  @Model.DomainsPendingLogoDesign</p>
            </div>
            <div class="col-md-4">
                <div class="profile-value-block">@Model.DomainsPendingLogoDesign</div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/unobtrusive")